<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodCAF">


        <receiver
            android:name=".receiver.AccountSuspendedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.codex.foodcaf.ACCOUNT_SUSPENDED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.CartNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.codex.foodcaf.CART_UPDATED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity android:name=".activity.FogotPassActivity" />

        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false"/>

        <activity
            android:name=".activity.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OpeningScreen3"
            android:exported="false" />

        <activity
            android:name=".activity.OpeningScreen2"
            android:exported="false" />

        <activity
            android:name=".activity.OpeningScreen1"
            android:exported="false" />

        <activity
            android:name=".activity.SpalshActivity"
            android:exported="true"
            android:theme="@style/Theme.FoodCAF">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>